<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="Utilities.listeners"></listener>
	</listeners>
	<test thread-count="5" name="Test01">
		<classes>
			<class name="test.Testclass"></class>
			<class name="pages.Loginpage"></class>
		</classes>
	</test> <!-- Test01 -->
</suite> <!-- Suite -->
